Bonjour,<br>
<br>
Votre enrtetien d'embauche est confirmé pour le :<br>
<b><%= @meeting.date_start.strftime("%A %d %B %Y à %Hh%M") %></b>
<br>
<br>
Vous pouvez utiisé Safari, Firefox, Google Chrome pour passer cet intretien vidéo.<br>
<br>
Assuez-vous d'avoir une bonne connexion. <a href="">Vous pouvez tester votre connexion</a>
<br>
<br>
<a href="<%= meeting_room_url(id: @meeting.id) %>">Lien à suivre pour votre passer votre entretien</a>
<br>
<br>
Cordialement,
<br>
<br>
Team Panda Roux
