<script>hljs.initHighlightingOnLoad();</script>

<nav class="navbar fixed-top  navbar-light bg-light">
  <span class="navbar-brand">
    Ceyx
  </span>
  <span class="navbar-text" id="timer">
      Temps restant : <b>00:59</b>
    </span>
</nav>


<style>

  .question {

    padding: 20px;
    background-color: #EDEDEF;
    margin: 15px;

  }

  .answer {
    background-color: #DCE5D0;
    text-align: center;
    padding: 15px;
    margin: 16px;
    cursor: pointer;
    border: 4px solid #DCE5D0;
  }


</style>

<div  class="container" style="padding-top: 60px; height: 100%; overflow: auto;">
  <div class="row">
    <div class="col"></div>
    <div class="col-8 rounded  question" >
      <%== @question.content %>
    </div>
    <div class="col"></div>
  </div>
  <div class="row ">
    <div class="col answer rounded  shadow-sm" id="answer1">
      ViewUnload
    </div>
    <div class="col answer rounded shadow-sm" id="answer2">
      ViewFinishLoad
    </div>
    <div class="col answer rounded  shadow-sm" id="answer3">
      ViewDidUnload
    </div>
  </div>
  <div class="row ">
    <div class="col answer rounded  shadow-sm" id="answer4">
      ViewDisapear
    </div>
    <div class="col answer rounded  shadow-sm" id="answer5">
      Aucun
    </div>
    <div class="col answer rounded  shadow-sm" id="answer6"></div>
  </div>

  <div class="row ">
    <div class="col  rounded">
      &nbsp;
    </div>
    <div class="col  rounded"></div>
    <div class="col  rounded"></div>
  </div>

  <div class="row ">
    <div class="col  rounded " style="text-align: center">
      <button class="btn btn-danger my-2 my-sm-0" type="submit">Passer</button>
    </div>
    <div class="col  rounded"></div>
    <div class="col  rounded" style="text-align: center" >
      <button class="btn btn-success my-2 my-sm-0" type="submit">Valider</button>
    </div>

  </div>



</div>


<script>

    function startTimer(duration, display) {
        var timer = duration, minutes, seconds;
        setInterval(function () {
            minutes = parseInt(timer / 60, 10)
            seconds = parseInt(timer % 60, 10);

            minutes = minutes < 10 ? "0" + minutes : minutes;
            seconds = seconds < 10 ? "0" + seconds : seconds;

            display.innerHTML = "Temps restant <b> : " + minutes + ":" + seconds + "</b>";

            if (--timer < 0) {
                timer = duration;
            }
        }, 1000);
    }

    window.onload = function () {
        var oneMinute = 60;
        display = document.getElementById("timer");
        startTimer(oneMinute, display);

        $(window).blur(function() {
            // alert( "Handler for lostFocus called." );
        });

        $(window).keydown(function() {
            alert( "Handler for .keydown() called." );
        });

    };


    document.getElementById('answer1')
        .addEventListener('click', function (event) {
            document.getElementById("answer1").style.borderColor = "#DE7067";
        });
</script>
