<%= form_with(model: pool, local: true) do |form| %>
  <% if pool.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pool.errors.count, "error") %> prohibited this pool from being saved:</h2>

      <ul>
      <% pool.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">

  <label> Sujet </label>
    <%= form.text_field :subject, class: 'with-border' %>
  </div>



  <div class="form-group">
    <label>Etat</label>
    <%= form.select :data_state, options_for_select([['A Faire', :work], ['En Production', :prod]], @pool.data_state), {}, {:class => 'selectpicker with-border'} %>
  </div>

  <br>
  <br>

  <div style="height: 50px;">
    <%= form.submit "Valider", style: "display: inline-block; float: left;" %>
    <a style="display: inline-block; float: right;" href="<%= pools_path %>" class="button red" >Annuler</a>
  </div>

<% end %>
