<div class="dashboard-box">
  <div class="headline">
    <h2>Modifier le pool de question</h2>
  </div>
  <div class="content with-padding padding-bottom-10">
  <%= render 'form', pool: @pool %>
  </div>
</div>
