<% unless notice.nil? %>
  <div class="notification notice closeable">
    <p><%= notice %></p>
    <a class="close" href="#"></a>
  </div>
<% end %>

<div class="dashboard-box">
  <div class="headline">
    <h2 style="display: inline-block; ">Modifier le pool de question</h2> <a style="display: inline-block; margin-top: -5px; float: right;" href="<%= edit_pool_path(@pool) %>" class="button green" >Modifier</a>
  </div>
  <div class="content with-padding padding-bottom-10">

<p>
  <strong>Subject:</strong>
  <%= @pool.subject %>
</p>

<div style="height: 50px;">
  <a style="display: inline-block; float: right;" href="<%= pools_path %>" class="button dark" >Retour</a>
</div>


  </div>
</div>