<%= form_with(model: quiz, url: new_quiz_path(candidate_id: @candidate.id), local: true) do |form| %>
  <% if quiz.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(quiz.errors.count, "error") %> prohibited this quiz from being saved:</h2>

      <ul>
      <% quiz.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="submit-field">
    <h5>Compétence à tester <i class="help-icon" data-tippy-placement="right" title="Une compétence de développemnt par questionnaire"></i></h5>
    <%= form.select :pool_id, options_for_select(Pool.where(data_state: Pool.data_states[:prod]).map {|s| [s.subject, s.id]}, @quiz.pool_id), {}, {:class => 'with-border selectpicker'} %>
  </div>

  <%= form.hidden_field :client_id %>
  <%= form.hidden_field :candidate_id %>

  <div class="actions" style="height: 50px;">
    <%= form.submit 'Valider', style: "display: inline-block; float: left;" %>
    <a style="display: inline-block; float: right;" href="<%= quizzes_path %>" class="button red" >Annuler</a>
  </div>
<% end %>
