<div class="row">
  <div class="col">
    <div class="dashboard-box margin-top-0">
      <div class="headline">
        <h2>Modifier le test technique</h2>
      </div>
      <div class="content with-padding padding-bottom-10">
        <%= render 'form', quiz: @quiz %>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col padding-top-10">
  </div>

  <div class="col padding-top-30" style="text-align: center">

  </div>

  <div class="col padding-top-10">
  </div>
</div>




<div class="row">
  <div class="col">
    <%= render '/candidates/information', candidate: @candidate %>
  </div>
</div>


