<div class="dashboard-box">
  <div class="headline">
    <h2>Fin de l'épreuve!</h2>
  </div>
  <div class="content with-padding padding-bottom-10">

    <p>
    <h3>Bravo vous avez terminé l'épreuve,</h3>

    Votre résultat est communiqué à <%= @quiz.client.email %> <br>

    Vous pouvez quitter le navigateur.  <br> <br>

    <h3>Bonne journée</h3>
    <br>

    <button type="button" class="button"  onclick="self.close()">Terminer</button>

    </p>
  </div>
</div>








