<script>hljs.initHighlightingOnLoad();</script>
<% unless notice.nil? %>
  <div class="notification notice closeable">
    <p><%= notice %></p>
    <a class="close" href="#"></a>
  </div>
<% end %>



<div class="row">
  <div class="col padding-top-10">
    <div class="dashboard-box margin-top-0">

      <!-- Headline -->
      <div class="headline">
        <h3><i class="icon-line-awesome-question"></i>Question</h3>
      </div>

      <div class="content padding-bottom-10 padding-top-10 padding-right-10 padding-left-10">
        <%== @question.content %>
      </div>

    </div>
  </div>
</div>
<div class="row">



  <div class="col padding-top-40">
    <div class="dashboard-box margin-top-0">

      <%= form_tag exam_question_path(:secret => @quiz.tag_secret, :id => @quiz.id) do %>

      <!-- Headline -->
      <div class="headline">
        <h3 style="display: inline-block;"><i class="icon-line-awesome-check-circle-o"></i> Réponses</h3>
        <input type="hidden" name="question_id" value="<%= @question.id %>" >

        <input class="button green" style="display: inline-block; float: right;  margin-top: -10px;" type="submit" name="commit" value="Valider">

      </div>

      <div class="content">
        <% @question.answers.shuffle.each do |answer| %>
          <ul class="dashboard-box-list cell-response" id="answer_<%= answer.id %>">
            <li>
              <div class="boxed-list-item">
                <div class="checkbox">
                  <input type="checkbox" id="ck_answer_<%= answer.id %>" name="quiz[answer_ids][]" value="quiz_answer_ids_<%= answer.id %>"/>
                  <label for="ck_answer_<%= answer.id %>"><span class="checkbox-icon"></span><%== answer.content %>
                  </label>
                </div>
              </div>
            </li>
          </ul>
        <% end %>
      </div>
      <% end %>
    </div>
  </div>
</div>



<script>

    $(".cell-response").click(function () {
        let idCheck = "#ck_" + this.id;

        if ($(idCheck).is(':checked')) {
            $(idCheck).prop('checked', false);
        }
        else {
            $(idCheck).prop('checked', true);
        }
    });

</script>


