<% unless notice.nil? %>
  <div class="notification notice closeable">
    <p><%= notice %></p>
    <a class="close" href="#"></a>
  </div>
<% end %>

<div class="dashboard-box">
  <div class="headline">
    <h2 style="display: inline-block;">Tests techniques</h2>

    <a style="display: inline-block; float: right;  margin-top: -5px;" href="<%= select_candidate_path(:key_path => NEW_QUIZ_ACTION) %>" class="button green" data-tippy-placement="top">Ajouter</a>

  </div>
  <div class="content with-padding padding-bottom-10">
    <table class="basic-table">
      <thead>
      <tr>
      <th>Score final</th>
      <th>Compétence</th>
      <th>Candidat</th>
      <th style="width:340px;">Action</th>
    </tr>
  </thead>
  <tbody>
    <% @quizzes.each do |quiz| %>
      <tr>
        <td>
          <% if quiz.completed? %>
            <%= quiz.score_final %> sur <%= quiz.score_max %>
          <% else %>
            -
          <% end %>
        </td>
        <td><%= quiz.pool.subject %></td>
        <td><%= quiz.candidate.profile.last_name %></td>
        <td>
          <% if quiz.pending? %>
            <a href="<%= start_exam_path(:secret => quiz.tag_secret, :id => quiz.id) %>" class="button dark" title="Lancer le test" data-tippy-placement="top" style="margin-right:10px"> <i class="icon-feather-power"></i></a>
            <% elsif quiz.in_progress? %>
              <a href="" class="button gray disabled" title="En cours" data-tippy-placement="top" style="margin-right:10px"> <i class="icon-feather-activity"></i></a>
            <% elsif quiz.completed? %>
            <a href="<%= result_exam_path(:id => quiz.id) %>" class="button dark" title="Résultat" data-tippy-placement="top" style="margin-right:10px"> <i class="icon-feather-bar-chart-2"></i></a>
            <% end %>
          <a href="<%= quiz_path quiz.id %>" class="button dark" title="Voir" data-tippy-placement="top" style="margin-right:10px"><i class="icon-feather-eye"></i></a>
          <a href="<%= edit_quiz_path(id: quiz.id, candidate_id: quiz.candidate.id) %>" class="button dark" title="Modifier" data-tippy-placement="top" style="margin-right:10px"><i class="icon-line-awesome-edit"></i></a>
          <a href="<%= quiz_path quiz.id %>" data-confirm="Are you sure?" rel="nofollow" class="button red" data-method="delete" title="Supprimer" data-tippy-placement="top"><i class="icon-feather-trash-2"></i></a>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
  </div>
</div>
