
<% unless notice.nil? %>
  <div class="notification notice closeable">
    <p><%= notice %></p>
    <a class="close" href="#"></a>
  </div>
<% end %>

<div class="dashboard-box">
  <div class="headline">
    <h2 style="display: inline-block;">Résultat</h2>
    <a style="display: inline-block; float: right;  margin-top: -5px;" href="<%= send_result_path(:id => @quiz.id) %>" data-method="post" class="button green" data-tippy-placement="top">Recevoir par email</a>
  </div>
  <div class="content with-padding padding-bottom-10">
    <%= @quiz.score_final %> sur <%= @quiz.score_max %>
  </div>
</div>


<div class="dashboard-box">
  <div class="headline">
    <h2>Vidéo</h2>
  </div>
  <div class="content with-padding padding-bottom-10">

    <iframe src="https://tokbox.com/embed/embed/ot-embed.js?embedId=4f9d0889-8714-4cb6-bf18-94ccd1ac54b8&room=DEFAULT_ROOM&iframe=true" width=800 height=640 allow="microphone; camera" ></iframe>

  </div>
</div>



