<p id="notice"><%= notice %></p>

<p>
  <strong>Score final:</strong>
  <%= @quiz.score_final %>
</p>

<p>
  <strong>Score max:</strong>
  <%= @quiz.score_max %>
</p>

<p>
  <strong>Pool:</strong>
  <%= @quiz.pool %>
</p>

<p>
  <strong>Client:</strong>
  <%= @quiz.client %>
</p>

<p>
  <strong>Candidate:</strong>
  <%= @quiz.candidate %>
</p>

<%= link_to 'Edit', edit_quiz_path(@quiz) %> |
<%= link_to 'Back', quizzes_path %>
