<div class="dashboard-box">
  <div class="headline">
    <h2>Test technique</h2>
  </div>
  <div class="content with-padding padding-bottom-10">

    <p>
    <h3>Bonjour</h3>

    Vous allez passer un test technique pour rejoindre l'équipe IT de : <b> <%= @quiz.client.company.name %></b>
    <br>
    Ce test technique à pour objectif d'évaluer vos compétences sur la technologie : <b><%= @quiz.pool.subject %></b>

    </p>
    <p>
    <h3>Instruction</h3>

    Vous allez devoir répondre à 40 questions à choix multiples, il y'a au minimum une réponse positive.<br>
    Les questions porte sur l'ensemble de la technologie<br>
    La majorité des questions porte sur des exemple de code<br>
    Vous avez 40 min pour finir tout le test, ce temps est amplement suffisant pour finir l'ensemble du test.<br>
    Il n'y a pas de question piège (exemple : faute de frappe dans le code). <br>
    Il est impossible de revenir à une question déjà répondu.<br>
    <br>
    </p>
    <p>
    <h3>Attention !</h3>
    Lors de ce test seul l'utilisation de la souris (ou du touch) est autorisé, vous n'avez pas le droit de quitter la page du navigateur.<br>
    Si vous ne respectez pas ce règles le test peut être annuler en cours d'épreuve.
    </p>

    <p>
      <h2>A vous de jouer!</h2>
    </p>
    <br>

    <%= form_tag exam_question_path(:secret => @quiz.tag_secret, :id => @quiz.id) do %>

        <input class="button green"  type="submit" name="commit" value="Je suis prêt">
    <% end %>


  </div>
</div>








