<div id="sign-in-dialog" class="zoom-anim-dialog dialog-with-tabs">

  <!--Tabs -->
  <div class="sign-in-form">


    <ul class="popup-tabs-nav">
      <li><a href="#candidate">Candidat</a></li>
      <li><a href="#entreprise">Entreprise</a></li>
      <li><a href="#expert">Expert</a></li>

    </ul>

    <div class="popup-tabs-container">

      <!-- Candidate -->
      <div class="popup-tab-content" id="candidate">

        <!-- Welcome Text -->
        <div class="welcome-text">
          <h3>Bienvenue sur LeNouveau.pro</h3>
          <span>Pas de panique c'est l'étape la plus dur!</span>
        </div>

        <!-- Form -->
        <form method="post" id="login-form">
          <div class="input-with-icon-left">
            <i class="icon-material-baseline-mail-outline"></i>
            <input type="text" class="input-text with-border" name="emailaddress" id="emailaddress" placeholder="Adresse email" required/>
          </div>

          <div class="input-with-icon-left">
            <i class="icon-material-outline-lock"></i>
            <input type="password" class="input-text with-border" name="password" id="password" placeholder="Mot de passe" required/>
          </div>
          <a href="#" class="forgot-password">Mot de passe oublié?</a>
        </form>

        <!-- Button -->
        <button class="button full-width button-sliding-icon ripple-effect" type="submit" form="login-form">Connexion <i class="icon-material-outline-arrow-right-alt"></i></button>

      </div>

      <!-- Entreprise -->
      <div class="popup-tab-content" id="entreprise">

        <!-- Welcome Text -->
        <div class="welcome-text">
          <h3>Bienvenue sur LeNouveau.pro</h3>
          <span>Evaluer vos candidats!</span>
        </div>


        <%= form_for(Client.new, as: :client, url: session_path(:client)) do |f| %>

          <div class="input-with-icon-left">
            <i class="icon-material-baseline-mail-outline"></i>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input-text with-border", placeholder: "Adresse mail" %>
          </div>



          <div class="input-with-icon-left">
            <i class="icon-material-outline-lock"></i>
            <%= f.password_field :password, autocomplete: "off", class: "input-text with-border", placeholder: "Mot de passe" %>
          </div>


          <% inner_html = "<span>Connexion <i class='icon-material-outline-arrow-right-alt'></i></span>" %>

          <button name="commit" class="button full-width button-sliding-icon ripple-effect" type="submit" form="new_client">Connexion <i class="icon-material-outline-lock-open"></i></button>

          <% f.submit raw(inner_html),  class: "button full-width button-sliding-icon ripple-effect" %>
          </br>
          </br>
          <%= link_to "Mot de passe oublié ?", new_password_path(:client), class: "input-text with-border" %>

        <% end %>

      </div>


      <!-- Expert -->
      <div class="popup-tab-content" id="expert">

        <!-- Welcome Text -->
        <div class="welcome-text">
          <h3>Bienvenue Expert de LeNouveau.pro</h3>
          <span>Merci de participer à une des meilleurs plateforme d'évaluation</span>
        </div>

        <!-- Form -->
        <form method="post" id="login-form">
          <div class="input-with-icon-left">
            <i class="icon-material-baseline-mail-outline"></i>
            <input type="text" class="input-text with-border" name="emailaddress" id="emailaddress" placeholder="Adresse email" required/>
          </div>

          <div class="input-with-icon-left">
            <i class="icon-material-outline-lock"></i>
            <input type="password" class="input-text with-border" name="password" id="password" placeholder="Mot de passe" required/>
          </div>
          <a href="#" class="forgot-password">Mot de passe oublié?</a>
        </form>

        <!-- Button -->
        <button class="button full-width button-sliding-icon ripple-effect" type="submit" form="login-form">Connexion <i class="icon-material-outline-arrow-right-alt"></i></button>


      </div>



    </div>
  </div>
</div>