<% if current_user.present? %>
  <% if current_user.user_author? %>
    <%= render "dashboard/dashboard_user_author", user: current_user %>
  <% elsif current_user.user_expert? %>
    <%= render "dashboard/dashboard_user_author", user: current_user %>
  <% elsif current_user.admin? %>
    <%= render "dashboard/dashboard_admin", user: current_user %>
  <% elsif current_user.user? %>
    <%= render "dashboard/dashboard_user", user: current_user %>
  <% end %>
<% elsif current_client.present? %>
  <%= render "dashboard/dashboard_client", client: current_client %>
<% elsif current_candidate.present? %>
  <%= render "dashboard/dashboard_candidate", candidate: current_candidate %>
<% else %>
  <%= render "dashboard/login" %>
<% end %>


