<%= form_with(model: meeting, local: true) do |form| %>
  <% if meeting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(meeting.errors.count, "error") %> prohibited this meeting from being saved:</h2>

      <ul>
      <% meeting.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <label>Un jour :</label>
    <%= form.select "day", options_for_select(@days, 1), {}, {:class => 'with-border selectpicker'} %>
  </div>
  <br>

  <div class="form-group">
    <label>Une heure de rendez-vous (exemple :  13:15)</label>
    <%= form.text_field "hour", {:placeholder => 'HH:mm', :class => 'with-border selectpicker'}   %>
  </div>


  <%= form.hidden_field :data_state, :value => :free %>

  <%= form.hidden_field :user_id, :value => current_user.id.to_s %>

  <br>

  <div style="height: 50px;">
    <%= form.submit "Ajouter", style: "display: inline-block; float: left;" %>
  </div>



<% end %>
