<%= form_with(model: meeting, local: true) do |form| %>
  <% if meeting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(meeting.errors.count, "error") %> prohibited this meeting from being saved:</h2>

      <ul>
      <% meeting.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :user_id %>
    <%= form.number_field :user_id, class: 'with-border' %>
  </div>

  <div class="form-group">
    <%= form.label :date_start %>
    <%= form.datetime_select :date_start, class: 'with-border' %>
  </div>

  <div class="form-group">
    <%= form.label :room %>
    <%= form.text_field :room, class: 'with-border' %>
  </div>

  <div class="form-group">
    <%= form.label :data_state %>
    <%= form.select :data_state, options_for_select([['Disponible', :free], ['Réservé', :booked], ['Confirmé', :confirmed]], form.object.data_state), {}, {:class => 'with-border selectpicker'} %>
  </div>

  <%= form.hidden_field :data_state %>

  <%= form.hidden_field :user_id  %>

  <br>
  <br>

  <div style="height: 50px;">
    <%= form.submit "Sauvegarder", style: "display: inline-block; float: left;" %>
    <a style="display: inline-block; float: right;" href="<%= meetings_path %>" class="button red" >Annuler</a>
  </div>



<% end %>
