<%= form_tag save_book_meeting_path, locale: true do %>

  <br>
  <table class="basic-table">
    <thead>
        <tr>
            <th>Date rendez-vous</th>
            <th>Expert</th>
            <th>Choisir</th>
        </tr>
    </thead>

    <tbody>
      <% inner_html_radio = "<span class='radio-label'></span>" %>
      <% meetings.each do |meeting| %>
        <tr>
            <td><%= meeting.date_start.strftime("%A %d %B %Y à %Hh%M") %></td>
            <td><%= meeting.user.profile.full_name %></td>
            <td>
              <div class="radio">
                <input type="radio" id="meeting_id_<%= meeting.id.to_s%>" value="<%= meeting.id.to_s %>" name="meeting_id" />
                <label for="meeting_id_<%= meeting.id.to_s%>" value="<%= meeting.id.to_s %>" name="meeting_id" ><span class='radio-label'></span></label>
              </div>
            </td>
        </tr>
      <% end %>
    </tbody>
</table>

  <br>
  <br>
  <label>Commentaire à l'expert</label>
  <br>
  <input id="comment" placeholder="Editor content goes here" type="hidden" name="comment">
  <trix-editor input="comment" style="min-height: 220px"></trix-editor>
  <br>

  <%= hidden_field_tag :candidate_id, candidate.id %>
  <%= submit_tag "Valider la réservation" %>


<% end %>