<div class="row">

  <div class="col">
    <%= render '/candidates/information', candidate: @candidate %>
  </div>
</div>


<div class="row">
  <div class="col-12 padding-top-10">
  </div>
</div>



<div class="row">
  <div class="col">
    <div class="dashboard-box ">
      <div class="headline">
        <h2>Choisir le rendez-vous</h2>
      </div>
      <div class="content with-padding padding-bottom-10">

        <%=  form_tag meetings_for_pool_path, :remote => true do %>

          <div class="row">
          <div class="col-8 padding-top-10">
            <label>Compétence de l'expert</label>
              <%= select_tag :pool_id, options_for_select(Pool.where(data_state: Pool.data_states[:prod]).map {|s| [s.subject, s.id]}), {:class => 'with-border selectpicker'} %>
              <%= hidden_field_tag :candidate_id, @candidate.id %>

          </div>

          <div class="col-2 padding-top-10">
            <label>&nbsp;</label>
            <%= submit_tag "Rechercher", class: "button dark" %>
          </div>
        </div>

        <% end %>

        <div id="content_meetings">
        </div>

      </div>
    </div>
  </div>
</div>

