

<div class="row">
  <div class="col padding-top-10">
    <div class="dashboard-box margin-top-0">

      <!-- Headline -->
      <div class="headline">
        <h2>Rendez-vous avec </h2>
      </div>

      <div class="content with-padding padding-bottom-10">

        <div id="videos">
          <div id="subscriber"></div>

          <div id="publisher"></div>
        </div>


        <script type="text/javascript">


            var apiKey = "<%= @api_key %>";
            var sessionId = "<%= @meeting.room %>";
            var token = "<%= @meeting.candidate_token_id %>";

            // Handling all of our errors here by alerting them
            function handleError(error) {
                if (error) {
                    alert(error.message);
                }
            }

            // (optional) add server code here
            initializeSession();

            function initializeSession() {
                var session = OT.initSession(apiKey, sessionId);

                // Subscribe to a newly created stream
                session.on('streamCreated', function(event) {
                    session.subscribe(event.stream, 'subscriber', {
                        insertMode: 'append',
                        width: '100%',
                        height: '100%'
                    }, handleError);
                });

                // Create a publisher
                var publisher = OT.initPublisher('publisher', {
                    insertMode: 'append',
                    width: '100%',
                    height: '100%'
                }, handleError);

                // Connect to the session
                session.connect(token, function(error) {
                    // If the connection is successful, initialize a publisher and publish to the session
                    if (error) {
                        handleError(error);
                    } else {
                        session.publish(publisher, handleError);
                    }
                });
            }

        </script>

      </div>

    </div>
  </div>
</div>

