


<% unless notice.nil? %>
  <div class="notification notice closeable">
    <p><%= notice %></p>
    <a class="close" href="#"></a>
  </div>
<% end %>

<div class="row">
  <div class="col">


<div class="dashboard-box">
  <div class="headline">
    <h2 style="display: inline-block;">Vos rendez-vous</h2>
    <a style="display: inline-block; float: right;  margin-top: -5px;" href="<%= new_meeting_path %>" class="button green" data-tippy-placement="top">Ajouter</a>
  </div>
  <div class="content with-padding padding-bottom-10">
    <table class="basic-table">
      <thead>
      <tr>
        <th>Date rendez-vous</th>
        <th>Status</th>
        <th style="width:260px;">Action</th>
      </tr>
      </thead>

      <tbody>
      <% @meetings.each do |meeting| %>
        <tr>
          <td><%= meeting.date_start.strftime("%A %d %B %Y à %Hh%M") %></td>
          <td><%= MeetingsHelper.data_state_to_s meeting %></td>
          <td>
            <a href="<%= meeting_path meeting.id %>" class="button dark" title="Voir" data-tippy-placement="top" style="margin-right:10px"><i class="icon-feather-eye"></i></a>
            <a href="<%= edit_meeting_path meeting %>" class="button dark" title="Modifier" data-tippy-placement="top" style="margin-right:10px"><i class="icon-line-awesome-edit"></i></a>
            <a href="<%= meeting_path meeting.id %>" data-confirm="Are you sure?" rel="nofollow" class="button red" data-method="delete" title="Supprimer" data-tippy-placement="top"><i class="icon-feather-trash-2"></i></a>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
  </div>
</div>





<div class="row">
  <div class="col">
    <div class="dashboard-box">
      <div class="headline">
        <h2 style="display: inline-block;">Ajouter un créneau</h2>

      </div>
      <div class="content with-padding padding-bottom-10">
        <%= render 'form_small', meeting: @new_meeting %>
      </div>
    </div>
  </div>
</div>