<div class="dashboard-box">
  <div class="headline">
    <h2>Nouveau rendez-vous</h2>
  </div>
  <div class="content with-padding padding-bottom-10">
    <%= render 'form', meeting: @meeting %>
  </div>
</div>
