

<p id="notice"><%= notice %></p>

<div class="row">


  <div class="col">

    <div class="dashboard-box margin-top-0">

      <!-- Headline -->
      <div class="headline">
        <% if current_client.present? %>
          <h2>Rendez-vous avec l'expert : <%= @meeting.user.profile.full_name %></h2>
        <% else %>
          <h2>Rendez-vous</h2>
        <% end %>


      </div>

      <div class="content with-padding padding-bottom-30">

        <p>
          <strong>Date de l'entretien:</strong>
          <%= @meeting.date_start %>
        </p>

        <p>
          <strong>Data state:</strong>

          <%= MeetingsHelper.data_state_to_s @meeting %>
        </p>

        <p>
          <% if current_client.present? %>
          <strong>Commentaire pour l'expert</strong>
          <% else %>
            <strong>Commentaire du client</strong>
          <% end %>
          <br>
          <div style="border: 1px solid #a0a0a0; padding: 10px;">
            <%== @meeting.comment %>
          </div>

        </p>

        <br>
        <p>
          <% if current_user.present? %>
            <a href="<%= expert_meeting_room_path @meeting.id %> " class="button dark"> Accéder au rendez-vous </a>
          <% else %>
            <a href="<%= meeting_room_path @meeting.id %> " class="button dark"> Accéder au rendez-vous </a>
          <% end %>
          <br>

        </p>

      </div>

    </div>
  </div>
</div>


<% if @meeting.candidate.present? %>
<div class="row margin-top-40">

  <div class="col">
    <%= render '/candidates/information', candidate: @meeting.candidate %>
  </div>


</div>

<% end %>