


<div class="row">
<div class="dashboard-box col-6">
  <div class="headline">
    <h2>Connexion Expert</h2>
  </div>
  <div class="content  with-padding padding-bottom-10">

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>


      <div class="input-with-icon-left">
        <i class="icon-material-outline-account-circle"></i>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email" %>
      </div>


      <div class="input-with-icon-left">
        <i class="icon-line-awesome-key"></i>
        <%= f.password_field :password, autocomplete: "off", placeholder: "Mot de passe" %>
      </div>

      <%  if false
      #      devise_mapping.rememberable?
      %>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end -%>

      <div class="actions">
        <%= f.submit "M'identifier" %>
      </div>
    <% end %>
  </div>
</div>
</div>





