<p id="notice"><%= notice %></p>

<p>
  <strong>Timer:</strong>
  <%= @score.timer %>
</p>

<p>
  <strong>Answer:</strong>
  <%= @score.answer %>
</p>

<p>
  <strong>Question:</strong>
  <%= @score.question %>
</p>

<p>
  <strong>Quiz:</strong>
  <%= @score.quiz %>
</p>

<%= link_to 'Edit', edit_score_path(@score) %> |
<%= link_to 'Back', scores_path %>
