    <div class="dashboard-box">

      <div class="headline">
        <h2>Ajouter un utilisateur</h2>
      </div>

      <div class="content with-padding padding-bottom-10">

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>

          <div class="form-group">
            <label>Email</label>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'with-border' %>
          </div>

          <div class="form-group">
            <label>Mot de passe</label>
            <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> caractères minimum)</em>
            <% end %><br/>
            <%= f.password_field :password, autocomplete: "off", class: 'with-border' %>
          </div>

          <div class="form-group">
            <label>Confirmation mot de passe</label>
            <%= f.password_field :password_confirmation, autocomplete: "off", class: 'with-border' %>
          </div>

          <div class="form-group">
            Entreprise
            <%= f.select :company_id, options_for_select(Company.all.map {|s| [s.name, s.id]}, f.object.company_id), {}, {:class => 'with-border selectpicker'} %>
          </div>
          </br>

          <div>
            <label>Role</label>
            <%= f.select :role, Client.roles.keys, {}, {:class => 'with-border selectpicker'} %>
          </div>

          </br>
          <div class="form-group">
            <%= f.submit "Valider" %>
          </div>


        <% end %>
      </div>
    </div>





