<%= form_with(model: candidate, url: candidates_url(key_path: @key_path), local: true) do |form| %>
  <% if candidate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(candidate.errors.count, "error") %> prohibited this candidate from being saved:</h2>

      <ul>
      <% candidate.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <label>Expérience <i class="help-icon" data-tippy-placement="right" title="Dans la technologie lié à l'embauche"></i></label>
    <%= form.select :experience, options_for_select([['Junior (- de 3 ans)', :junior], ['Confirmé (entre 3 et 6 ans)', :confirm], ['Senior (6 ans et plus)', :senior]], form.object.experience), {}, {:class => 'with-border selectpicker'} %>
  </div>
  <br>

  <div class="form-group">
    <label>Email</label>
    <%= form.text_field :email, class: 'with-border' %>
  </div>

  <%= form.fields_for :profile do |profile_form| %>

    <div class="form-group">
      <label>Titre</label>
      <%= profile_form.select :gender, options_for_select([['Non spécifié', ''], ['M.', 'M.'], ['Mme', 'Mme']], profile_form.object.gender), {}, {:class => 'with-border selectpicker'} %>
    </div>
    <br>

    <div class="form-group">
      <label>Prénom</label>
      <%= profile_form.text_field :first_name, class: 'with-border' %>
    </div>

    <div class="form-group">
      <label>Nom</label>
      <%= profile_form.text_field :last_name, class: 'with-border' %>
    </div>

    <div class="form-group">
      <label>Mobile <i class="help-icon" data-tippy-placement="right" title="Pour les rappels des rendez-vous en ligne."></i>  </label>
      <%= profile_form.text_field :phone, class: 'with-border' %>
    </div>


  <% end %>

  <div class="form-group">
    <label>Statut</label>
    <%= form.select :data_state, options_for_select([['Actif', :active], ['Archivé', :archive]], form.object.data_state), {}, {:class => 'with-border selectpicker'} %>
  </div>
  <br>


  <div style="height: 50px;">
    <%= form.submit "Sauvegarder", style: "display: inline-block; float: left;" %>
    <a style="display: inline-block; float: right;" href="<%= candidates_path %>" class="button red" >Annuler</a>
  </div>


<% end %>
