<div class="dashboard-box margin-top-0">
  <!-- Headline -->
  <div class="headline">
    <h2>Candidat : <%= candidate.profile.full_name %></h2>
  </div>

  <div class="content with-padding padding-bottom-10">


    <div class="form-control padding-bottom-20">
      <span>Email : <%= candidate.email %>  </span>
    </div>

    <div class="form-control padding-bottom-20">
      <span>Téléphone : <%= candidate.profile.phone %>  </span>
    </div>


    <div class="form-control padding-bottom-20">
      <span>Expérience  : <%= candidate.experience %>  </span>

    </div>
  </div>
</div>