<% unless notice.nil? %>
  <div class="notification notice closeable">
    <p><%= notice %></p>
    <a class="close" href="#"></a>
  </div>
<% end %>

<div class="dashboard-box">
  <div class="headline">
    <h2 style="display: inline-block;">Candidats</h2>
    <a style="display: inline-block; float: right;  margin-top: -5px;" href="<%= new_candidate_path %>" class="button green" data-tippy-placement="top">Ajouter</a>
  </div>
  <div class="content with-padding padding-bottom-10">
    <table class="basic-table">
      <thead>
      <tr>
        <th>Email</th>
        <th>Nom</th>
        <th style="width:260px;">Action</th>
    </tr>
  </thead>

  <tbody>
    <% @candidates.each do |candidate| %>
      <tr>
        <td><%= candidate.email %> </td>
        <td><%= candidate.profile.last_name.capitalize %></td>
        <td>
          <a href="<%= candidate_path candidate.id %>" class="button dark" title="Voir" data-tippy-placement="top" style="margin-right:10px"><i class="icon-feather-eye"></i></a>
          <a href="<%= edit_candidate_path candidate %>" class="button dark" title="Modifier" data-tippy-placement="top" style="margin-right:10px"><i class="icon-line-awesome-edit"></i></a>
          <a href="<%= candidate_path candidate.id %>" data-confirm="Are you sure?" rel="nofollow" class="button red" data-method="delete" title="Supprimer" data-tippy-placement="top"><i class="icon-feather-trash-2"></i></a>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
  </div>
</div>
