<div class="dashboard-box">
  <div class="headline">
    <h2>Nouveau Candidat</h2>
  </div>
  <div class="content with-padding padding-bottom-10">
    <%= render 'form', candidate: @candidate %>
  </div>
</div>
