
<div class="row">
  <div class="col padding-top-10 padding-bottom-20" style="text-align: center">
    <span><h2>

      <% if @key_path == NEW_QUIZ_ACTION %>
      Un nouveau test technique
        <% else %>
            Un nouveau rendez-vous avec un expert
        <% end %>


      <br> pour qui ?</h2></span>
  </div>
</div>

<div class="row">
  <div class="col padding-top-10">
    <div class="dashboard-box margin-top-0">

      <!-- Headline -->
      <div class="headline">
        <h2>Un candidat déjà existant</h2>
      </div>

      <%= form_tag select_candidate_path(:key_path => @key_path) do %>

      <div class="content with-padding padding-bottom-10">

        <%= select_tag :id, options_for_select(@candidates.map {|c| [c.profile.first_name + " " + c.profile.last_name, c.id]}),  {:class => 'with-border selectpicker', "data-live-search" => "true" } %>

        <br>

        <div style="height: 50px;">
          <%= submit_tag "Valider", style: "display: inline-block; float: left;" %>
        </div>

      </div>
      <% end  %>

    </div>
  </div>
</div>


<div class="row">
  <div class="col padding-top-10">
  </div>

  <div class="col padding-top-50 padding-bottom-20" style="text-align: center">
    <span><h2>ou </h2></span>
  </div>

  <div class="col padding-top-10">
  </div>
</div>




<div class="row">

  <div class="col padding-top-40">
    <div class="dashboard-box margin-top-0">
        <!-- Headline -->
        <div class="headline">
            <h2>Un nouveau candidat</h2>
        </div>

        <div class="content with-padding padding-bottom-10">
          <%= render 'form', candidate: @candidate, key_path: @key_path %>
        </div>
    </div>
  </div>
</div>





