
<div class="row">

  <div class="col">
    <%= render '/candidates/information', candidate: @candidate %>
  </div>
</div>

<div class="row">
  <div class="col padding-top-10">
  </div>

  <div class="col padding-top-30" style="text-align: center">

  </div>

  <div class="col padding-top-10">
  </div>
</div>


<div class="row">
  <div class="col padding-top-10">
    <div class="dashboard-box margin-top-0">

      <!-- Headline -->
      <div class="headline">
        <h2>Test technique </h2>
      </div>

      <div class="content with-padding padding-bottom-30">
        <% if @quizzes.count == 0 %>
          <div class="padding-bottom-10" style="text-align: center;">
            <p> Aucun test de passer.</p>
            <a href="<%= new_quiz_path(:candidate_id=> @candidate.id) %>" class="button"> Créer un test technique</a>
          </div>
        <% else  %>
          <table class="basic-table">
            <thead>
            <tr>
              <th>Score final</th>
              <th>Compétence</th>
              <th>Candidat</th>
              <th style="width:340px;">Action</th>
            </tr>
            </thead>
            <tbody>
            <% @quizzes.each do |quiz| %>
              <tr>
                <td>
                  <% if quiz.completed? %>
                    <%= quiz.score_final %> sur <%= quiz.score_max %>
                  <% else %>
                    -
                  <% end %>
                </td>
                <td><%= quiz.pool.subject %></td>
                <td><%= quiz.candidate.profile.last_name %></td>
                <td>
                  <% if quiz.pending? %>
                    <a href="<%= start_exam_path(:secret => quiz.tag_secret, :id => quiz.id) %>" class="button dark" title="Lancer le test" data-tippy-placement="top" style="margin-right:10px"> <i class="icon-feather-power"></i></a>
                  <% elsif quiz.in_progress? %>
                    <a href="" class="button gray disabled" title="En cours" data-tippy-placement="top" style="margin-right:10px"> <i class="icon-feather-activity"></i></a>
                  <% elsif quiz.completed? %>
                    <a href="<%= result_exam_path(:id => quiz.id) %>" class="button dark" title="Résultat" data-tippy-placement="top" style="margin-right:10px"> <i class="icon-feather-bar-chart-2"></i></a>
                  <% end %>
                  <a href="<%= quiz_path quiz.id %>" class="button dark" title="Voir" data-tippy-placement="top" style="margin-right:10px"><i class="icon-feather-eye"></i></a>
                  <a href="<%= edit_quiz_path quiz %>" class="button dark" title="Modifier" data-tippy-placement="top" style="margin-right:10px"><i class="icon-line-awesome-edit"></i></a>
                  <a href="<%= quiz_path quiz.id %>" data-confirm="Are you sure?" rel="nofollow" class="button red" data-method="delete" title="Supprimer" data-tippy-placement="top"><i class="icon-feather-trash-2"></i></a>
                </td>
              </tr>
            <% end %>
            </tbody>
          </table>

        <% end %>
      </div>

    </div>
  </div>
</div>

<div class="row">
  <div class="col padding-top-10">
  </div>

  <div class="col padding-top-10" style="text-align: center">

  </div>

  <div class="col padding-top-10">
  </div>
</div>


<div class="row">
  <div class="col padding-top-10">
    <div class="dashboard-box margin-top-0">

      <!-- Headline -->
      <div class="headline">
        <h2>Rendez-vous avec un expert </h2>
      </div>


      <div class="content with-padding padding-bottom-10">
        <% if @meetings.count == 0 %>
          <div class="padding-bottom-10" style="text-align: center;">
            <p> Aucun entretien avec un expert. </p>
            <a href="" class="button">Prendre un rendez-vous a </a>
          </div>
        <% else  %>
          <table class="basic-table">
            <thead>
            <tr>
              <th>Date rendez-vous</th>
              <th>Status</th>
              <th style="width:260px;">Action</th>
            </tr>
            </thead>

            <tbody>
            <% @meetings.each do |meeting| %>
              <tr>
                <td><%= meeting.date_start.strftime("%A %d %B %Y à %Hh%M") %></td>
                <td><%= MeetingsHelper.data_state_to_s meeting %></td>
                <td>
                  <a href="<%= meeting_path meeting.id %>" class="button dark" title="Voir" data-tippy-placement="top" style="margin-right:10px"><i class="icon-feather-eye"></i></a>
                  <a href="<%= edit_meeting_path meeting %>" class="button dark" title="Modifier" data-tippy-placement="top" style="margin-right:10px"><i class="icon-line-awesome-edit"></i></a>
                  <a href="<%= meeting_path meeting.id %>"  rel="nofollow" class="button red" title="Annuler" data-tippy-placement="top"><i class="icon-feather-alert-triangle"></i></a>
                </td>
              </tr>
            <% end %>
            </tbody>
          </table>

        <% end %>

      </div>

    </div>
  </div>
</div>


<div class="row">
  <div class="col padding-top-30">
    <a href="<%= candidates_path %>" class="button dark" > Retour </a>

  </div>

  <div class="col padding-top-10" style="text-align: center">

  </div>

  <div class="col padding-top-10">
  </div>
</div>



