<%= form_with(model: company, local: true) do |form| %>
  <% if company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(company.errors.count, "error") %> prohibited this company from being saved:</h2>

      <ul>
      <% company.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <label> Nom </label>
    <%= form.text_field :name, class: 'with-border' %>
  </div>

  <div class="checkbox">
    <%= form.check_box :activate, :id => :activate %>
    <label for="<%= :activate %>" ><span class="checkbox-icon"></span> Activé</label>
  </div>


  <div style="height: 50px;">
    <%= form.submit "Valider", style: "display: inline-block; float: left;" %>
    <a style="display: inline-block; float: right;" href="<%= companies_path %>" class="button red" >Annuler</a>
  </div>
<% end %>

