<% unless notice.nil? %>
  <div class="notification notice closeable">
    <p><%= notice %></p>
    <a class="close" href="#"></a>
  </div>
<% end %>

<div class="dashboard-box">
  <div class="headline">
    <h2 style="display: inline-block;">Entreprises</h2>
    <a style="display: inline-block; float: right;  margin-top: -5px;" href="<%= new_company_path %>" class="button green" data-tippy-placement="top">Ajouter</a>
  </div>
  <div class="content with-padding padding-bottom-10">
    <table class="basic-table">
      <thead>
      <tr>
        <th>Nom</th>
        <th>Activé</th>
        <th style="width:260px;">Action</th>
      </tr>
      </thead>

      <tbody>
      <% @companies.each do |company| %>
        <tr>
          <td><%= company.name %></td>
          <td><%= company.activate? ? "Oui" : "Non" %></td>
          <td>
            <a href="<%= company_path company.id %>" class="button dark" title="Voir" data-tippy-placement="top" style="margin-right:10px"><i class="icon-feather-eye"></i></a>
            <a href="<%= edit_company_path company %>" class="button dark" title="Modifier" data-tippy-placement="top" style="margin-right:10px"><i class="icon-line-awesome-edit"></i></a>
            <a href="<%= company_path company.id %>" data-confirm="Are you sure?" rel="nofollow" class="button red" data-method="delete" title="Supprimer" data-tippy-placement="top"><i class="icon-feather-trash-2"></i></a>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>

    <br>
  </div>
</div>