<div class="dashboard-box">
  <div class="headline">
    <h2>Ajouter une entreprise</h2>
  </div>
  <div class="content with-padding padding-bottom-10">
    <%= render 'form', company: @company %>
  </div>
</div>
