
<% content_for :body_class, "wood-background" %>

<div class="background-sign-in">
  <div class="container center-sign-in">
    <div class="row w-100">

      <div class="col">&nbsp;</div>
      <div class="col-6">
        <div class="card">
          <h5 class="card-header text-center">Connexion</h5>

          <div class="card-body">
            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text main-color" id="basic-addon1"><i class="fas fa-at"></i></span>
                </div>
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
              </div>


              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text main-color" id="basic-addon1"><i class="fas fa-key"></i></span>
                </div>
                <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
              </div>


              <%= f.submit "Se connecter", class: "btn btn-primary" %>
              </br>
              </br>
              <%= link_to "Mot de passe oublié ?", new_password_path(resource_name), class: "btn btn-warning" %>

            <% end %>


          </div>
        </div>
      </div>
      <div class="col">&nbsp;</div>
    </div>
  </div>
</div>