<%= form_with(model: main_question, local: true) do |form| %>
  <% if main_question.errors.any? %>


    <div class="alert alert-danger" role="alert">
      <h4 class="alert-heading"><%= pluralize(main_question.errors.count, "error") %> prohibited this main_question from
        being saved:</h4>
      <ul>
        <% main_question.errors.each do |key, message| %>
          <li><%= message %></li>
        <% end %>
      </ul>

    </div>

  <% end %>


  <div class="row">
    <div class="col">
      <div class="form-control">
        <label> Niveau </label>
        <%= form.select :level, options_for_select([['Junior', :junior], ['Confirmé', :confirm], ['Senior', :senior]], @main_question.level), {}, {:class => 'with-border selectpicker'} %>
        </br>
      </div>

      <div class="form-control">
        <label>Sujet abordé</label>
        <%= form.text_field :subject, class: 'with-border' %>
      </div>

      <div class="form-control">
        <label> Pool de question</label>
        <% if current_user.admin? %>
          <%= form.select :pool_id, options_for_select(Pool.all.map {|s| [s.subject, s.id]}, @main_question.pool_id), {}, {:class => 'with-border selectpicker'} %>
          </div>

          <br>
          <div class="checkbox">
            <%= form.check_box :custom, :id => :custom %>
            <label for="<%= :custom %>"><span class="checkbox-icon"></span> Personalisé</label>
          </div>

        <% else %>

          <%= form.select :pool_id, options_for_select(current_user.pools.map {|s| [s.subject, s.id]}, @main_question.pool_id), {}, {:class => 'with-border selectpicker'} %>
          </div>
          <%= form.hidden_field :custom %>
        <% end %>

        </div>
  </div>

  <div class="row">
    <div class="col">
      &nbsp;
    </div>
  </div>

  <div class="row">
    <div class="col">
      <h3> Questions</h3>
      <br>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="tabs">
        <div class="tabs-header">
          <ul>
            <li class="active">
              <a href="#tab-1" data-tab-id="1">Variante 1</a>
            </li>
            <li>
              <a href="#tab-2" data-tab-id="2">Variante 2</a>
            </li>
            <li>
              <a href="#tab-3" data-tab-id="3">Variante 3</a>
            </li>
          </ul>
          <div class="tab-hover"></div>
          <nav class="tabs-nav">
            <span class="tab-prev"><i class="icon-material-outline-keyboard-arrow-left"></i></span>
            <span class="tab-next"><i class="icon-material-outline-keyboard-arrow-right"></i></span>
          </nav>
        </div>

        <% number_question = 0 %>
        <!-- Tab Content -->
        <div class="tabs-content">
          <%= form.fields_for :questions do |question_form| %>
            <% number_question += 1 %>
            <%= question_form.hidden_field :user_id %>
            <% if number_question == 1 %>
              <div class="tab active" data-tab-id="<%= number_question %>">
            <% else %>
              <div class="tab" data-tab-id="<%= number_question %>">
            <% end %>

            <%= question_form.trix_editor :content %>

            <br>

            <% number_answer = 0 %>
            <%= question_form.fields_for :answers do |answer_form| %>
              <% number_answer += 1 %>

              <div style="background-color: #EBEBEB; border-radius: 5px; padding-right: 15px; padding-left: 15px; padding-bottom: 10px; margin-bottom: 10px;">&nbsp;
                <h3> Réponse n°<%= number_answer %></h3>
                <br>
                <div class="form-control">
                  <%= answer_form.trix_editor :content %>
                </div>
                &nbsp;
                <div class="form-control">
                  Point: <br>

                  <% inner_html_radio = "<span class='radio-label'></span>" %>

                  <div class="radio">
                    <%= answer_form.radio_button :point, 100 %>
                    <%= answer_form.label :point, raw(inner_html_radio) + "1 - Bonne réponse (choix unique)", :value => "100" %>
                  </div>
                  <br>
                  <div class="radio">
                    <%= answer_form.radio_button :point, 50 %>
                    <%= answer_form.label :point, raw(inner_html_radio) + "0,5 - Bonne réponse (choix multiple)", :value => "50" %>
                  </div>
                  <br>

                  <div class="radio">
                    <%= answer_form.radio_button :point, 0 %>
                    <%= answer_form.label :point, raw(inner_html_radio) + "0 - Mauvaise réponse", :value => "0" %>
                  </div>
                  <br>

                  <div class="radio">
                    <%= answer_form.radio_button :point, -100 %>
                    <%= answer_form.label :point, raw(inner_html_radio) + "-1 - Très mauvaise réponse", :value => "-100" %>
                  </div>

                </div>
                &nbsp;
              </div>

            <% end %>
            </div>

          <% end %>
          </div>

        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <br>

        <%= form.submit "Sauvegarder", style: "display: inline-block; float: left;" %>

        <div style="display: inline-block; float: left; width: 300px;" class="padding-left-10">
          <% if current_user.admin? %>
            <%= form.select :data_state, options_for_select([['A Faire', :work], ['En cours', :in_progress], ['Acceptance', :wait_validation], ['Prêt', :ready], ['En Production', :prod]], @main_question.data_state), {}, {:class => 'selectpicker'} %>
          <% else %>
            <%= form.select :data_state, options_for_select([['En cours', :in_progress], ['Acceptance', :wait_validation]], @main_question.data_state), {}, {:class => 'selectpicker'} %>
          <% end %>
        </div>

        <a style="display: inline-block; float: right;" href="<%= main_questions_path %>" class="button red">Annuler</a>
      </div>
    </div>

<% end %>
