<% unless notice.nil? %>
  <div class="notification notice closeable">
    <p><%= notice %></p>
    <a class="close" href="#"></a>
  </div>
<% end %>
<div class="dashboard-box">
  <div class="headline">
    <h2 style="display: inline-block;">Questions</h2>
    <a style="display: inline-block; float: right;  margin-top: -5px;" href="<%= new_main_question_path %>" class="button green" data-tippy-placement="top">Ajouter</a>
  </div>
  <div class="content with-padding padding-bottom-10">
    <table class="basic-table">
      <thead>
      <tr>
        <th>Sujet</th>
        <th>Etat</th>
        <th>Level</th>
        <th>Pool</th>
        <th colspan="3">Action</th>
      </tr>
      </thead>

      <tbody>
      <% @main_questions.each do |main_question| %>
        <tr>
          <td><%= main_question.subject %></td>
          <td><%= main_question.data_state_to_s %></td>
          <td><%=  main_question.level_to_s %></td>
          <td><%= main_question.pool.subject %></td>
          <td>
            <a href="<%= main_question_path main_question.id %>" class="button dark" title="Voir" data-tippy-placement="top" style="margin-right:10px"><i class="icon-feather-eye"></i></a>
            <a href="<%= edit_main_question_path main_question %>" class="button dark" title="Modifier" data-tippy-placement="top" style="margin-right:10px"><i class="icon-line-awesome-edit"></i></a>
            <a href="<%= main_question_path main_question.id %>" data-confirm="Are you sure?" rel="nofollow" class="button red" data-method="delete" title="Supprimer" data-tippy-placement="top"><i class="icon-feather-trash-2"></i></a>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>