<div class="dashboard-box margin-bottom-80">
  <div class="headline">
    <h2>Nouvelle question</h2>
  </div>
  <div class="content with-padding padding-bottom-10">
    <%= render 'form', main_question: @main_question %>
  </div>
</div>
