<script>hljs.initHighlightingOnLoad();</script>

<div class="row">
<div class="col-xl-6 padding-top-10">
  <div class="dashboard-box margin-top-0">

    <!-- Headline -->
    <div class="headline">
      <h3><i class="icon-line-awesome-question"></i>Question</h3>
    </div>

    <div class="content padding-bottom-10 padding-top-10 padding-right-10 padding-left-10" >
        <%== @main_question.questions.first.content %>
    </div>

  </div>
</div>

  <div class="col-xl-6 padding-top-10">
    <div class="dashboard-box margin-top-0">

      <!-- Headline -->
      <div class="headline">
        <h3 style="display: inline-block;"><i class="icon-line-awesome-check-circle-o"></i> Réponses</h3>
        <a style="display: inline-block; float: right;  margin-top: -5px;" href="<%= new_company_path %>" class="button green" data-tippy-placement="top">Valider</a>
      </div>

      <div class="content">
        <ul class="dashboard-box-list">


          <% @main_question.questions.first.answers.each do |answer| %>

          <li>
            <div class="boxed-list-item">
              <div class="checkbox">
                <input type="checkbox" id="<%= answer.id  %>" />
                <label for="<%= answer.id  %>" ><span class="checkbox-icon"></span><%== answer.content %></label>
              </div>

            </div>
          </li>
            <% end %>

        </ul>
      </div>

    </div>
  </div>


</div>


