<script>hljs.initHighlightingOnLoad();</script>
<% unless notice.nil? %>
  <div class="notification notice closeable">
    <p><%= notice %></p>
    <a class="close" href="#"></a>
  </div>
<% end %>

<div class="row">
  <div class="col padding-top-10">
    <div class="dashboard-box margin-top-0">

      <!-- Headline -->
      <div class="headline">
        <h3><i class="icon-line-awesome-question"></i>Question</h3>
      </div>

      <div class="content padding-bottom-10 padding-top-10 padding-right-10 padding-left-10">
        <%== @main_question.questions.first.content %>
      </div>

    </div>
  </div>
</div>
<div class="row">
  <div class="col padding-top-40">
    <div class="dashboard-box margin-top-0">
      <!-- Headline -->
      <div class="headline">
        <h3 style="display: inline-block;"><i class="icon-line-awesome-check-circle-o"></i> Réponses</h3>
        <a style="display: inline-block; float: right;  margin-top: -5px;" href="<%= new_company_path %>" class="button green" data-tippy-placement="top">Valider</a>
      </div>

      <div class="content">
        <% @main_question.questions.first.answers.each do |answer| %>
          <ul class="dashboard-box-list cell-response" id="answer_<%= answer.id %>">
            <li>
              <div class="boxed-list-item">
                <div class="checkbox">
                  <input type="checkbox" id="ck_answer_<%= answer.id %>"/>
                  <label for="ck_answer_<%= answer.id %>"><span class="checkbox-icon"></span><%== answer.content %>
                  </label>
                </div>
              </div>
            </li>
          </ul>
        <% end %>
      </div>

    </div>
  </div>
</div>




<script>

    $(".cell-response").click(function () {
        let idCheck = "#ck_" + this.id;

        if ($(idCheck).is(':checked')) {
            $(idCheck).prop('checked', false);
        }
        else {
            $(idCheck).prop('checked', true);
        }
    });

</script>


