


<%= form_with(model: job_offer, local: true) do |form| %>
  <% if job_offer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(job_offer.errors.count, "error") %> prohibited this job_offer from being saved:</h2>

      <ul>
      <% job_offer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="form-group">
    <label>Titre</label>
    <%= form.text_field :title, class: 'with-border', placeholder: 'Ex: Développeur IOS confirmé H/F' %>
  </div>

  <div class="form-group">
    <div class="form-row">
      <div class="col">
        <%= form.text_field :code_offer, class: 'with-border', placeholder: 'Réference' %>
      </div>
      <div class="col">
          <%= form.text_field :web_link, class: 'with-border', placeholder: 'Liens web vers l\'offre' %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label>Commentaire</label>
    <%= form.text_area :comment, class: 'with-border' %>
  </div>


  <div class="form-group">
    <label>Email du responsable technique</label>
      <%= form.text_field :email, class: 'with-border', placeholder: '' %>
  </div>


  <div class="checkbox">
    <%= form.check_box :finish, :id => :finish %>
    <label for="<%= :finish %>" ><span class="checkbox-icon"></span> Terminé</label>
  </div>

  <%= form.hidden_field :client_id %>


  <div class="form-group">
    <%= form.submit "Valider", class: "button ripple-effect" %>
  </div>

<% end %>
