<div class="dashboard-box">
  <div class="headline">
    <h2 style="display: inline-block;">Offres d'emploi</h2>
    <a style="display: inline-block; float: right;" href="<%= new_job_offer_path %>" class="button green" title="Ajouter" data-tippy-placement="top">Ajouter</a>
  </div>
  <div class="content with-padding padding-bottom-10">
    <p id="notice"><%= notice %></p>

    <table class="basic-table">
      <thead>
      <tr>
        <th>Code</th>
        <th>Titre</th>
        <th style="width:260px;">Action</th>
      </tr>
      </thead>

      <tbody>
      <% pair = false %>
      <% @job_offers.each do |job_offer| %>
        <% pair = !pair %>
        <tr class="<%= pair ? "pair-table" : "odd-table" %>">
          <td><%= job_offer.code_offer %></td>
          <td><%= job_offer.title %></td>
          <td>
            <a href="<%= job_offer_path job_offer.id %>" class="button dark" title="Voir" data-tippy-placement="top" style="margin-right:10px"><i class="icon-feather-eye"></i></a>
            <a href="<%= edit_job_offer_path job_offer %>" class="button dark" title="Modifier" data-tippy-placement="top" style="margin-right:10px"><i class="icon-line-awesome-edit"></i></a>
            <a href="<%= job_offer_path job_offer.id %>" data-confirm="Are you sure?" rel="nofollow" class="button red" data-method="delete" title="Supprimer" data-tippy-placement="top"><i class="icon-feather-trash-2"></i></a>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>

    <br>

  </div>
</div>
<%= render '/layouts/footer' %>


