<div class="dashboard-box">

  <div class="headline">
    <h2>Ajouter une offre d'emploi</h2>
  </div>
  <div class="content with-padding padding-bottom-10">

    <%= render 'form', job_offer: @job_offer %>

  </div>
</div>
<%= render '/layouts/footer' %>
