<p id="notice"><%= notice %></p>

<p>
  <strong>Code offer:</strong>
  <%= @job_offer.code_offer %>
</p>

<p>
  <strong>Title:</strong>
  <%= @job_offer.title %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @job_offer.comment %>
</p>

<p>
  <strong>Web link:</strong>
  <%= @job_offer.web_link %>
</p>

<p>
  <strong>Email:</strong>
  <%= @job_offer.email %>
</p>

<p>
  <strong>Finish:</strong>
  <%= @job_offer.finish %>
</p>

<%= link_to 'Edit', edit_job_offer_path(@job_offer) %> |
<%= link_to 'Back', job_offers_path %>
