/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

//@import "bootstrap";
//@import "invoice";


@font-face {
  font-family: 'Brand-Icons';
  src:
          asset-url('Brand-Icons.ttf') format('truetype'),
          asset-url('Brand-Icons.woff') format('woff'),
          asset-url('Brand-Icons.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*!
 *  Line Awesome 1.1.0 by @icons_8 - https://icons8.com/line-awesome
 *  License - https://icons8.com/good-boy-license/ (Font: SIL OFL 1.1, CSS: MIT License)
 *
 * Made with love by Icons8 [ https://icons8.com/ ] using FontCustom [ https://github.com/FontCustom/fontcustom ]
 *
 * Contacts:
 *    [ https://icons8.com/contact ]
 *
 * Follow Icon8 on
 *    Twitter [ https://twitter.com/icons_8 ]
 *    Facebook [ https://www.facebook.com/Icons8 ]
 *    Google+ [ https://plus.google.com/+Icons8 ]
 *    GitHub [ https://github.com/icons8 ]
 */

@font-face {
  font-family: 'Line-Awesome';
  src:
          asset-url('Line-Awesome.ttf') format('truetype'),
          asset-url('Line-Awesome.woff') format('woff'),
          asset-url('Line-Awesome.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*!
 * Feather Icons (https://feathericons.com/)
 * Licensed under MIT
 */
@font-face {
  font-family: 'Feather-Icons';
  src:
          asset-url('Feather-Icons.ttf?7ncawf') format('truetype'),
          asset-url('Feather-Icons.woff?7ncawf') format('woff'),
          asset-url('Feather-Icons.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}


/*!
 * Material Icons (https://material.io/tools/icons/)
 * Apache license version 2.0
 */

@font-face {
  font-family: 'Material-Icons';
  src:
          asset-url('Material-Icons.ttf') format('truetype'),
          asset-url('Material-Icons.woff') format('woff'),
          asset-url('Material-Icons.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@import "icons";
@import "bootstrap-grid";
@import "hireo_style";
@import "trix";
@import "darcula";
@import "ceyx_style";
@import "blue";
@import "opentok";