@import url('https://fonts.googleapis.com/css?family=Nunito');

html, body {
    height:100%;
    width:100%;
}

body {
    font-family: 'Nunito', sans-serif;
}

.main-color {
    color: #0080FF;
}


/*
    Table
 */

th {
    color: #fafafa;
    background-color: #2a41e8;
    padding: 10px;
}

tr {
    height: 40px;
}

td {
    padding-left: 10px;
}

.foot {
    font-size: small;
    text-align: center;
    color: #fafafa;
    background-color: #AFAFAF;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.pair-table {
    background-color: #ffffff;
}

.odd-table {
    background-color: #EFEFEF;
}

.icon-action {
    color: #FFFFFF;
    background-color:#c8c8c8;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
}

/*

 Question code

 */

pre {
    border-radius: 5px;
}

ul.dashboard-box-list > li:hover {
    background-color: #f0f0f0;
}

.cell-response {
    cursor: pointer;
}

/*
    Trix
 */

.trix-content {
    height: 200px;
    max-height: 200px !important;
    overflow-y: auto;
}