<%= form_with(model: report, local: true) do |form| %>
  <% if report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(report.errors.count, "error") %> prohibited this report from being saved:</h2>

      <ul>
      <% report.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <label>Point fort</label>
    <%= form.text_area :best_point, class: 'with-border' %>
  </div>

  <div class="field">
    <label>Point faible</label>
    <%= form.text_area :bad_point, class: 'with-border' %>
  </div>

  <div class="field">
    <label>Status</label>
    <%= form.number_field :data_state, class: 'with-border' %>
  </div>

  <div class="field">
    <%= form.label :meeting_id %>
    <%= form.number_field :meeting_id, class: 'with-border' %>
  </div>

  <div class="field">
    <label>Avis global pour le poste</label>
    <%= form.text_area :advise, class: 'with-border' %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
