<p id="notice"><%= notice %></p>

<p>
  <strong>Advise:</strong>
  <%= @report.advise %>
</p>

<p>
  <strong>Best point:</strong>
  <%= @report.best_point %>
</p>

<p>
  <strong>Bad point:</strong>
  <%= @report.bad_point %>
</p>

<p>
  <strong>Data state:</strong>
  <%= @report.data_state %>
</p>

<p>
  <strong>Meeting:</strong>
  <%= @report.meeting_id %>
</p>

<%= link_to 'Edit', edit_report_path(@report) %> |
<%= link_to 'Back', reports_path %>
