<!DOCTYPE html>
<html>
<head>
  <title>HiringProject</title>
  <meta charset="UTF-8">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag 'hireo' %>
  <script src="https://static.opentok.com/v2/js/opentok.min.js"></script>
</head>
<body class="gray <%= yield(:body_class) %>">


<div id="wrapper">

  <!-- Header Container
  ================================================== -->
  <header id="header-container" class="fullwidth dashboard-header not-sticky">

    <!-- Header -->
    <div id="header">
      <div class="container">

        <!-- Left Side Content -->
        <div class="left-side">

          <!-- Logo -->
          <div id="logo">
            <a href="index.html"></a>
          </div>

          <!-- Main Navigation -->
<!--          <nav id="navigation">-->
<!--            <ul id="responsive">-->


              <!--                <li><a href="#">Home</a>
                                <ul class="dropdown-nav">
                                  <li><a href="index.html">Home 1</a></li>
                                  <li><a href="index-2.html">Home 2</a></li>
                                  <li><a href="index-3.html">Home 3</a></li>
                                </ul>
                              </li>

                              <li><a href="#">Find Work</a>
                                <ul class="dropdown-nav">
                                  <li><a href="#">Browse Jobs</a>
                                    <ul class="dropdown-nav">
                                      <li><a href="jobs-list-layout-full-page-map.html">Full Page List + Map</a></li>
                                      <li><a href="jobs-grid-layout-full-page-map.html">Full Page Grid + Map</a></li>
                                      <li><a href="jobs-grid-layout-full-page.html">Full Page Grid</a></li>
                                      <li><a href="jobs-list-layout-1.html">List Layout 1</a></li>
                                      <li><a href="jobs-list-layout-2.html">List Layout 2</a></li>
                                      <li><a href="jobs-grid-layout.html">Grid Layout</a></li>
                                    </ul>
                                  </li>
                                  <li><a href="#">Browse Tasks</a>
                                    <ul class="dropdown-nav">
                                      <li><a href="tasks-list-layout-1.html">List Layout 1</a></li>
                                      <li><a href="tasks-list-layout-2.html">List Layout 2</a></li>
                                      <li><a href="tasks-grid-layout.html">Grid Layout</a></li>
                                      <li><a href="tasks-grid-layout-full-page.html">Full Page Grid</a></li>
                                    </ul>
                                  </li>
                                  <li><a href="browse-companies.html">Browse Companies</a></li>
                                  <li><a href="single-job-page.html">Job Page</a></li>
                                  <li><a href="single-task-page.html">Task Page</a></li>
                                  <li><a href="single-company-profile.html">Company Profile</a></li>
                                </ul>
                              </li>

                              <li><a href="#">For Employers</a>
                                <ul class="dropdown-nav">
                                  <li><a href="#">Find a Freelancer</a>
                                    <ul class="dropdown-nav">
                                      <li><a href="freelancers-grid-layout-full-page.html">Full Page Grid</a></li>
                                      <li><a href="freelancers-grid-layout.html">Grid Layout</a></li>
                                      <li><a href="freelancers-list-layout-1.html">List Layout 1</a></li>
                                      <li><a href="freelancers-list-layout-2.html">List Layout 2</a></li>
                                    </ul>
                                  </li>
                                  <li><a href="single-freelancer-profile.html">Freelancer Profile</a></li>
                                  <li><a href="dashboard-post-a-job.html">Post a Job</a></li>
                                  <li><a href="dashboard-post-a-task.html">Post a Task</a></li>
                                </ul>
                              </li>-->

<!--            </ul>-->
<!--          </nav>-->
          <div class="clearfix"></div>
          <!-- Main Navigation / End -->

        </div>
        <!-- Left Side Content / End -->

      </div>
    </div>
    <!-- Header / End -->
  </header>


  <div class="dashboard-container">

    <!-- Dashboard Sidebar
    ================================================== -->
    <div class="dashboard-sidebar">
      <div class="dashboard-sidebar-inner" data-simplebar>
        <div class="dashboard-nav-container">

          <!-- Responsive Navigation Trigger -->
          <a href="#" class="dashboard-responsive-nav-trigger">
					<span class="hamburger hamburger--collapse">
						<span class="hamburger-box">
							<span class="hamburger-inner"></span>
						</span>
					</span>
            <span class="trigger-title">Menu</span>
          </a>

          <!-- Navigation -->
          <div class="dashboard-nav">
            <div class="dashboard-nav-inner">

              <ul>
                <li><a href="<%= dashboard_path %>"><i class="icon-material-outline-dashboard"></i>Dashboard</a></li>
              </ul>



              <% if current_user.present? && current_user.admin? %>
              <!-- Admin -->
              <ul data-submenu-title="Administration">
                <li><a href="#"><i class="icon-material-outline-assignment"></i>Gestion contenu</a>
                  <ul>
                    <li><a href="<%= pools_path %>">Pools de questions</a></li>
                    <li><a href="<%= new_user_registration_path %>">Création d'un expert</a></li>
                  </ul>
                </li>
                <li><a href="#"><i class="icon-material-outline-assignment"></i>Gestion client</a>
                  <ul>
                    <li><a href="<%= companies_path %>">Entreprises</a></li>
                    <li><a href="<%= new_client_registration_path %>"><i class="icon-material-outline-dashboard"></i>
                      Création d'un client </a></li>
                  </ul>
                </li>
                <% end %>


                <% if current_user.present? %>

                <% if current_user.user? || current_user.admin? || current_user.user_author? %>
                <!-- Expert -->
                <ul data-submenu-title="Gestion quizzes">
                  <li><a href="<%= main_questions_path %>">Questions <span class="nav-tag">140</span></a></li>
                </ul>
                <% end %>

                <% if current_user.user? || current_user.admin? || current_user.user_expert? %>
                  <!-- Expert -->
                  <ul data-submenu-title="Gestion des entretiens">
                    <li><a href="<%= meetings_path %>">Entretiens <span class="nav-tag">2</span></a></li>
                  </ul>
                <% end %>




                <% end %>


              <% if current_client.present? %>
                <!-- Client -->
                <ul data-submenu-title="Menu">

                  <% if controller_name == "candidates" && action_name == "index" %>
                    <li class="active">
                  <% else %>
                    <li>
                  <% end %>
                    <a href="<%= candidates_path %>"> Liste des candidats</a>
                  </li>

                  <% if controller_name == "quizzes" && action_name == "index" %>
                    <li class="active">
                  <% else %>
                    <li>
                  <% end %>
                    <a href="<%= quizzes_path %>"> Liste des questionnaires</a>
                  </li>

                  <% if controller_name == "candidates" && action_name == "index" %>
                    <li class="active">
                  <% else %>
                    <li>
                  <% end %>
                  <a href="<%= select_candidate_path(:key_path => NEW_QUIZ_ACTION) %>"> Créer un test technique</a>
                  </li>

                  <% if controller_name == "candidates" && action_name == "index" %>
                    <li class="active">
                  <% else %>
                    <li>
                  <% end %>
                  <a href="<%= select_candidate_path(:key_path => NEW_MEETING_ACTION) %>"> Réservez un rendez vous</a>
                  </li>



                </ul>
                <% end %>

                <ul data-submenu-title="Compte">
                  <% if current_user != nil %>
                    <li>
                      <a href="<%= destroy_user_session_path %>" data-method="delete" rel="nofollow"><i class="icon-material-outline-power-settings-new"></i>
                        Logout User</a></li>
                  <% elsif current_client != nil %>
                    <li>
                      <a href="<%= destroy_client_session_path %>" data-method="delete" rel="nofollow"><i class="icon-material-outline-power-settings-new"></i>
                        Logout</a></li>
                  <% end %>
                </ul>
              </ul>
            </div>
          </div>
          <!-- Navigation / End -->

        </div>
      </div>
    </div>

    <div class="dashboard-content-container" data-simplebar>
      <div class="dashboard-content-inner">
        <%= yield %>
        <%= render '/layouts/footer' %>
      </div>
    </div>
  </div>
</div>
</body>
</html>
