<!DOCTYPE html>
<html>
<head>
  <title>HiringProject</title>
  <meta charset="UTF-8">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag 'hireo' %>
</head>
<body class="gray <%= yield(:body_class) %>">


<div id="wrapper">

  <!-- Header Container
  ================================================== -->
  <header id="header-container" class="fullwidth dashboard-header not-sticky">

    <!-- Header -->
    <div id="header">
      <div class="container">

        <!-- Left Side Content -->
        <div class="left-side">

          <!-- Logo -->
          <div id="logo">

            <a href=""> <%= image_tag("logo-site.png") %></a>
          </div>

          <!-- Main Navigation -->
                    <nav id="navigation">
                     <ul id="responsive">


<!--                          <li><a href="#">Home</a>-->
<!--                            <ul class="dropdown-nav">-->
<!--                              <li><a href="index.html">Home 1</a></li>-->
<!--                              <li><a href="index-2.html">Home 2</a></li>-->
<!--                              <li><a href="index-3.html">Home 3</a></li>-->
<!--                            </ul>-->
<!--                          </li>-->

<!--                          <li><a href="#">Find Work</a>-->
<!--                            <ul class="dropdown-nav">-->
<!--                              <li><a href="#">Browse Jobs</a>-->
<!--                                <ul class="dropdown-nav">-->
<!--                                  <li><a href="jobs-list-layout-full-page-map.html">Full Page List + Map</a></li>-->
<!--                                  <li><a href="jobs-grid-layout-full-page-map.html">Full Page Grid + Map</a></li>-->
<!--                                  <li><a href="jobs-grid-layout-full-page.html">Full Page Grid</a></li>-->
<!--                                  <li><a href="jobs-list-layout-1.html">List Layout 1</a></li>-->
<!--                                  <li><a href="jobs-list-layout-2.html">List Layout 2</a></li>-->
<!--                                  <li><a href="jobs-grid-layout.html">Grid Layout</a></li>-->
<!--                                </ul>-->
<!--                              </li>-->
<!--                              <li><a href="#">Browse Tasks</a>-->
<!--                                <ul class="dropdown-nav">-->
<!--                                  <li><a href="tasks-list-layout-1.html">List Layout 1</a></li>-->
<!--                                  <li><a href="tasks-list-layout-2.html">List Layout 2</a></li>-->
<!--                                  <li><a href="tasks-grid-layout.html">Grid Layout</a></li>-->
<!--                                  <li><a href="tasks-grid-layout-full-page.html">Full Page Grid</a></li>-->
<!--                                </ul>-->
<!--                              </li>-->
<!--                              <li><a href="browse-companies.html">Browse Companies</a></li>-->
<!--                              <li><a href="single-job-page.html">Job Page</a></li>-->
<!--                              <li><a href="single-task-page.html">Task Page</a></li>-->
<!--                              <li><a href="single-company-profile.html">Company Profile</a></li>-->
<!--                            </ul>-->
<!--                          </li>-->

<!--                          <li><a href="#">For Employers</a>-->
<!--                            <ul class="dropdown-nav">-->
<!--                              <li><a href="#">Find a Freelancer</a>-->
<!--                                <ul class="dropdown-nav">-->
<!--                                  <li><a href="freelancers-grid-layout-full-page.html">Full Page Grid</a></li>-->
<!--                                  <li><a href="freelancers-grid-layout.html">Grid Layout</a></li>-->
<!--                                  <li><a href="freelancers-list-layout-1.html">List Layout 1</a></li>-->
<!--                                  <li><a href="freelancers-list-layout-2.html">List Layout 2</a></li>-->
<!--                                </ul>-->
<!--                              </li>-->
<!--                              <li><a href="single-freelancer-profile.html">Freelancer Profile</a></li>-->
<!--                              <li><a href="dashboard-post-a-job.html">Post a Job</a></li>-->
<!--                              <li><a href="dashboard-post-a-task.html">Post a Task</a></li>-->
<!--                            </ul>-->
<!--                          </li>-->

                      </ul>
                    </nav>
          <div class="clearfix"></div>
          <!-- Main Navigation / End -->

        </div>
        <!-- Left Side Content / End -->

      </div>
    </div>
    <!-- Header / End -->
  </header>


  <div class="dashboard-container">

    <!-- Dashboard Sidebar
    ================================================== -->




    <div class="dashboard-content-container" data-simplebar>
      <div class="dashboard-content-inner">

        <%= yield %>
        <%= render '/layouts/footer' %>
      </div>
    </div>
  </div>
</div>
</body>
</html>
