<h2>Création Expert</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div>
    <label>Role</label>
    <%= f.select :role, User.roles.keys, {}, {:class => 'form-control'} %>
  </div>

  <div>
    <label>Pools :</label>
      <%= f.collection_check_boxes(:pool_ids, Pool.all, :id, :subject)  %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit "Création", :class => 'form-control btn-primary' %>
  </div>
<% end %>

<%= render "users/shared/links" %>
